PORT=3001
# Atlas: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/tracksheet?retryWrites=true&w=majority
# Local: mongodb://localhost:27017/tracksheet
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/tracksheet?retryWrites=true&w=majority
NODE_ENV=development
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
